body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #333;
  background: #fff;
}
ul {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    list-style: none;
    a {
      display: inline-block;
    }
  }
}
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
hr {
  margin: 2em 0 2em 5px;
  border: none;
  &:before {
    display: block;
    width: 3px;
    height: 3px;
    content: "";
    // margin: 2em 0 2em 5px;
    background: #000;
    opacity: 0.4;
    border-radius: 50%;
    box-shadow: 24px 0 0 0 #000, 48px 0 0 0 #000;
  }
}
h1, h2, h3, h4, h5, h6, p, a {
  font-family: inherit;
}


::selection {
  background: rgba(226, 61, 14, 0.4);
}

.hidden {
  display: none;
}
.clearfix {
  &:before {
    width: 0;
    content: "";
    display: block;
    clear: both;
  }
  &:after {
    width: 0;
    content: "";
    display: block;
    clear: both;
  }
}
.container-md {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-sm {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
.nav-mask {
  background: rgba(100, 100, 100, 0.5);
}
.mobile-only {
  display: none;
  @media only screen and (max-width: 1080px) {
    display: block;
  }
}
.divider-top {
  border-top: 1px solid #eee;
}
.divider-bottom {
  border-bottom: 1px solid #eee;
}