.page-title {
  background-size: contain;
  background-color: #262931;
  .page-title__mask {
    opacity: 0;
  }
}
#city-group {
  padding: 60px 0;
  background: #fff;
  h2 {
    line-height: 1.4;
    font-size: 2em;
    font-weight: bold;
    color: #e23d0e;
  }
}