<footer id="footer">
  <div>
    <div class="container-md">
      <div class="footer__inner">
        <div class="footer__inner__links">
          <ul>
            <li><a href="@@webRoot" class="font-logo" style="background-image:url(@@logo)">mobike</a></li>
            <li>Mobike Technology Co, Ltd</li>
            <li>客服电话 <a href="tel:400-811-7799">400-811-7799</a></li>
            <li>北京摩拜科技有限公司</li>
          </ul>
        </div>
        <div class="footer__inner__list">
          <div class="list list__products">
            <h3>产品</h3>
            <ul>
              <li><a href="@@webRoot/classic">经典版</a></li>
              <li><a href="@@webRoot/lite">轻骑</a></li>
              <li><a href="@@webRoot/lock">智能锁</a></li>
            </ul>
          </div>
          <div class="list list__life">
            <h3>生活</h3>
            <ul>
              <li><a href="@@webRoot/cities">城市</a></li>
              <li><a href="@@webRoot/news">新闻资讯</a></li>
            </ul>
          </div>
          <div class="list list__about">
            <h3>关于</h3>
            <ul>
              <li><a href="@@webRoot/about">关于Mobike</a></li>
              <li><a href="http://campus.mobike.com/">加入我们</a></li>
              <li><a href="@@webRoot/about/#contact">联系我们</a></li>
            </ul>
          </div>
          <div class="list list__social">
            <h3>社交网络</h3>
            <ul>
              <li><a href="http://weibo.com/6038290538">微博</a></li>
              <li><a href="javascript:void(0);">微信</a></li>
              <li><a href="https://www.zhihu.com/org/mo-bai-dan-che-1/answers">知乎专栏</a></li>
              <li><a href="https://www.facebook.com/mobikesgp">Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__icp">
    <div class="container-md">
      <div class="footer__icp__inner">
        <div class="icp">
          <p>京 ICP 备15053449 号 <i class="beian-icon" style="background-image:url('@@beian')"></i> 京公网安备 11010502032956 号
          <br>
          增值电信业务经营许可证编号：京B2-20170053</p>
        </div>
        <div class="image">
          <a href=""><img src="@@longtou" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</footer>