<div id="metalink">
  <div class="container-md">
    <div class="metalink__inner">
      <div class="metalink__item">
        <div class="icon icon-wechat"></div>
        <div class="text">
          <h4>微信小程序</h4>
          <p>微信扫一扫，直接用车</p>
        </div>
      </div>
      <div class="metalink__item">
        <div class="icon icon-rp"></div>
        <div class="text">
          <h4>红包车</h4>
          <p>骑摩拜，能赚钱</p>
        </div>
      </div>
      <div class="metalink__item">
        <div class="icon icon-credit"></div>
        <div class="text">
          <h4>信用分</h4>
          <p>文明骑行，信用生活</p>
        </div>
      </div>
    </div>
  </div>
</div>