<div class="page-tab">
  <div class="page-tab__inner">
    <section class="page-tab__wrap container-md">
      <!-- page切换按钮 -->
      <ul class="page-tab__tab">
        <li class="active" data-page="page1"><a href="javascript:void(0);">关于摩拜单车</a></li>
        <li data-page="page2"><a href="javascript:void(0);">发展历史</a></li>
        <li data-page="page3"><a href="javascript:void(0);">团队成员</a></li>
        <li data-page="page4"><a href="javascript:void(0);">融资情况</a></li>
        <li data-page="page5"><a href="javascript:void(0);">获得奖项</a></li>
      </ul>
      <!-- page1 -->
      <div class="page-tab__page page-tab__page1">
        <h2>关于摩拜单车</h2>
        <p>摩拜单车创建了全球首个智能共享单车模式，自主研发的专利智能锁集成了 GPS 和通讯模块，使用了新一代物联网技术，通过智能手机 app 让用户随时随地可以定位并使用最近的摩拜单车，骑行到达目的地后，就近停放在路边合适的区域，关锁即实现电子付费结算。</p>
        <p>摩拜单车于 2015 年 1 月成立，2016 年 4 月 22 日地球日当天在上海正式推出智能共享单车服务，并已先后进入中国、新加坡、英国、意大利、日本、泰国、马来西亚、美国、韩国等 9 个国家超过 180 个城市，运营着超过 700 万辆摩拜单车，为全球超过 2 亿用户提供着智能出行服务，日订单量超过 3000 万，成为全球最大的智能共享单车运营平台和移动物联网平台。摩拜单车每天产生的骑行数据超过 30TB，在全球拥有最为全面的骑行大数据，为智慧城市、健康城市、低碳城市的规划提供科学参考。</p>
        <p>摩拜在所到的城市中掀起骑行的热潮，推动「让自行车回归城市」，为更多人的出行带来方便，也给城市倡导绿色出行提供了可持续发展的智能解决方案。自正式运营以来至今，摩拜用户累计骑行超过 56 亿公里，节约碳排放量超过 126 万吨，相当于减少了 35 万辆小汽车一年来行驶的碳排放量。</p>
        <p>2017 年 6 月，摩拜单车因在节能减排方面的杰出贡献，被世界自然基金会（WWF）授予新一届「气候创行者」称号，并获得「可持续城市交通特别奖」；</p>
        <p>2017 年 9 月，摩拜单车被财富杂志评选为「2017 年正在改变世界的 50 家企业」，财富评价摩拜单车——「两个轮子，解决中国碳排放问题」。</p>
        <p>2017 年 10 月，摩拜全球顶尖品牌咨询公司 Prophet 铂慧发布 2017 中国品牌相关性指数及品牌 50 强榜单，揭示与当今中国消费者最息息相关的品牌。摩拜单车成为唯一一家跻身 2017 品牌 50 强排行榜的互联网出行企业，首次上榜即高居第 14 位。</p>
        <h2>愿景与使命</h2>
        <p>用人人可负担得起的价格提供智能共享单车服务，使人们更便利地完成城市内的短途出行，并帮助减少交通拥堵，减少环境污染，让我们生活的城市更美好。</p>
        <h2 id="contact">联系我们</h2>
        <dl>
          <dt>客户服务方向</dt>
          <dd>客户服务支持，邮箱 <a href="mailto:customerservice@mobike.com">customerservice@mobike.com</a></dd>
          <dt>政府方向</dt>
          <dd>摩拜单车政府及公共事务合作，邮箱 <a href="mailto:public@mobike.com">public@mobike.com</a></dd>
          <dt>商务合作方向</dt>
          <dd>摩拜单车商务合作，邮箱 <a href="mailto:bd@mobike.com">bd@mobike.com</a></dd>
          <dt>公共关系方向</dt>
          <dd>摩拜单车公共关系事务联系，邮箱 <a href="mailto:prteam@mobike.com">prteam@mobike.com</a></dd>
          <dt>信息安全方向</dt>
          <dd>应急响应中心，邮箱 <a href="mailto:security@mobike.com">security@mobike.com</a></dd>
          <dt>注册地址</dt>
          <dd>北京市海淀区学院路甲5号2幢平房B南-1231室</dd>
          <dt>公司电话</dt>
          <dd><a href="tel:400-811-7799">400-811-7799</a></dd>
        </dl>
      </div>
      <!-- page2 -->
      <div class="page-tab__page page-tab__page2 hidden">
        <h2>大事件</h2>
        <dl>
            <dt>2016年11月05日</dt>
            <dd>G20 各国科技部长论坛上，摩拜单车作为中国科技创新典范亮相，获得美国、德国、加拿大、意大利、日本等多个国家科技部长的高度认可</dd>
            <dt>2016年11月17日</dt>
            <dd>摩拜单车 CEO 王晓峰获交通运输部邀请参加世界互联网大会，并发表主题演讲</dd>
            <dt>2017年01月13日</dt>
            <dd>摩拜单车创始人胡玮炜获邀赴中南海参加 2017 年政府工作报告征求意见会议，面对面向李克强总理汇报工作。摩拜单车的科技创新及对中国制造、城市可持续发展带来的改变，获得李克强总理的高度赞扬</dd>
            <dt>2017年01月14日</dt>
            <dd>摩拜单车 CEO 王晓峰获世界银行和世界资源研究所的邀请，参加全球交通行业的国际顶级年会——Transforming Transportation，并在世界银行总部发表讲话</dd>
            <dt>2017年03月24日</dt>
            <dd>摩拜单车作为中国科技创新典范受邀出席博鳌亚洲论坛</dd>
            <dt>2017年8月29日</dt>
            <dd>联合国人居署、联合国环境规划署、世界卫生组织、世界资源研究所等国际组织，以及新华社、新京报等国内权威媒体，携手摩拜单车共同倡议发起“世界骑行日”，倡导“骑行改变城市”理念。这也是首个全球性骑行文化节日。</dd>
            <dt>2017年9月17日</dt>
            <dd>摩拜单车携手联合国环境署、联合国人居署、世界资源研究所和世界自然基金会等机构，发起“世界骑行日”，在海内外180多个城市举行的绿色骑行线上线下活动，引发社会各界的强烈关注和积极响应。</dd>
        </dl>
        <h2>时间轴</h2>
        <dl class="__reader_view_article_wrap_18078585730682195__">
          <dt>2015年1月27日</dt>
          <dd>北京摩拜科技有限公司成立</dd>
          <dt>2015年10月</dt>
          <dd>获A轮融资</dd>
          <dt>2016年4月21日</dt>
          <dd>摩拜智造（无锡）有限公司成立</dd>
          <dt>2016年4月22日</dt>
          <dd>摩拜单车在上海正式运营</dd>
          <dt>2016年8月</dt>
          <dd>获B轮融资</dd>
          <dt>2016年9月1日</dt>
          <dd>摩拜单车正式进入北京运营</dd>
          <dt>2016年9月30日</dt>
          <dd>宣布完成C轮1亿美元融资</dd>
          <dt>2016年10月17日</dt>
          <dd>Mobike Lite 正式发布</dd>
          <dt>2016年10月</dt>
          <dd>获 C+ 轮融资</dd>
          <dt>2016年10月27日</dt>
          <dd>摩拜单车广州正式登陆广州</dd>
          <dt>2016年11月15日</dt>
          <dd>Mobike 运动版迭代发布</dd>
          <dt>2016年12月15日</dt>
          <dd>爱立信与中国移动携手摩拜科技在上海率先完成基于蜂窝物联网现网的端到端应用测试</dd>
          <dt>2016年12月17日</dt>
          <dd>全国首个摩拜单车社区在广州亚运城启动</dd>
          <dt>2016年12月18日</dt>
          <dd>上海达到 10 万辆投放量</dd>
          <dt>2017年1月4日</dt>
          <dd>完成 D 轮 2.15 亿美元融资</dd>
          <dt>2017年1月9日</dt>
          <dd>摩拜单车微信小程序发布</dd>
          <dt>2017年1月10日</dt>
          <dd>广州达到 10 万辆投放量</dd>
          <dt>2017年1月23日</dt>
          <dd>摩拜单车宣布与全球第一大科技制造服务企业富士康达成行业独家战略合作</dd>
          <dt>2017年1月24日</dt>
          <dd>北京达到10万辆投放量</dd>
          <dt>2017年2月20日</dt>
          <dd>宣布完成 D 轮后新融资，D 轮融资累计超 3 亿美金</dd>
          <dt>2017年3月1日</dt>
          <dd>摩拜单车推出全球首个智能推荐停车点</dd>
          <dt>2017年3月21日</dt>
          <dd>摩拜单车正式登陆新加坡</dd>
          <dt>2017年6月13日</dt>
          <dd>摩拜单车正式登陆英国，首站：曼彻斯特、索尔福德</dd>
          <dt>2017年6月16日</dt>
          <dd>完成E轮6亿美元融资</dd>
          <dt>2017年7月25日</dt>
          <dd>摩拜单车正式登陆意大利，首站：佛罗伦萨、米兰</dd>
          <dt>2017年8月23日</dt>
          <dd>摩拜单车正式登陆日本，首站：札幌</dd>
          <dt>2017年8月30日</dt>
          <dd>摩拜单车正式登陆泰国，首站：曼谷</dd>
          <dt>2017年9月7日</dt>
          <dd>摩拜单车正式登陆马来西亚，首站：雪兰莪州首府沙阿兰</dd>
          <dt>2017年9月21日</dt>
          <dd>摩拜单车正式登陆美国，首站：华盛顿特区</dd>
          <dt>2017年10月18日</dt>
          <dd>摩拜单车登陆韩国，首站：水原市</dd>
        </dl>
      </div>
      <!-- page3 -->
      <div class="page-tab__page page-tab__page3 hidden">
        <div class="page-tab__page__text">
          <p>摩拜单车是一个极富创造力和凝聚力的团队，整个团队致力于「让自行车回归城市」，为城市骑行打造全新体验。</p>
        </div>
        @@include('introsection.html', {
          "title": "胡玮炜",
          "desc": "<h3>摩拜单车创始人、总裁</h3><p>胡玮炜曾是资深媒体人、连续创业者，多年浸润汽车、科技领域，对共享经济、城市出行有独到的理解。胡玮炜创办摩拜的初心是希望通过技术创新结合新型商业模式，解决城市“最后一公里”的出行难题。</p>",
          "imgUrl": "../static/assets/img/team-1.jpg",
          "imgOrder": "--reverse"
        })
        @@include('introsection.html', {
          "title": "王晓峰",
          "desc": "<h3>摩拜单车联合创始人、CEO</h3><p>曾在 Uber、腾讯、谷歌等多家国内外互联网公司担任高管，深耕互联网行业多年，在管理、市场、运营等方面具有丰富经验。</p>",
          "imgUrl": "../static/assets/img/team-2.jpg",
          "imgOrder": ""
        })
        @@include('introsection.html', {
          "title": "夏一平",
          "desc": "<h3>摩拜单车联合创始人、CTO</h3><p>国内车联网领域资深的产品技术专家，曾在福特、菲亚特克莱斯勒的车联网产品研发部门负责产品和技术的研发，拥有国内外发明、实用新型和软件著作权专利等20多项。</p>",
          "imgUrl": "../static/assets/img/team-3.jpg",
          "imgOrder": "--reverse"
        })
      </div>
      <!-- page4 -->
      <div class="page-tab__page page-tab__page4 hidden">
        <dl>
          <dt>2015年10月</dt>
          <dd>A 轮 JOY capital 愉悦资本</dd>
          <dt>2016年8月</dt>
          <dd>B 轮 熊猫资本、 JOY capital 愉悦资本、创新工场</dd>
          <dt>2016年8月</dt>
          <dd>B+ 轮 祥峰投资 Vertex、创新工场</dd>
          <dt>2016年9月</dt>
          <dd>C 轮 华平投资 Warburg Pincus、高瓴资本</dd>
          <dt>2016年10月</dt>
          <dd>C+ 轮 高瓴资本、华平投资 Warburg Pincus、腾讯、美团王兴（个人）、红杉资本中国、启明创投、贝塔斯曼亚洲基金</dd>
          <dt>2017年1月</dt>
          <dd>D 轮 腾讯、华平投资 Warburg Pincus、携程、华住、TPG 等</dd>
          <dt>2017年1月-2月</dt>
          <dd>D+ 轮 Temasek 淡马锡、高瓴资本、富士康</dd>
          <dt>2017年6月</dt>
          <dd>E 轮 腾讯、交银国际、工银国际、Farallon Capital、TPG、红杉中国、高瓴资本</dd>
        </dl>
      </div>
      <!-- page5 -->
      <div class="page-tab__page page-tab__page5 hidden">
        <dl class="__reader_view_article_wrap_6460332549763934__">
          <dt>2016年11月17日</dt>
          <dd>摩拜单车获得第二届智能出行高峰论坛的「年度智能出行」奖</dd>
          <dt>2016年12月2日</dt>
          <dd>摩拜单车获得创业邦颁发的 2016 中国年度创新成长企业 100 强</dd>
          <dt>2016年12月3日</dt>
          <dd>摩拜单车创始人胡玮炜荣获「2016财新女性青年领袖论坛」新锐女性奖</dd>
          <dt>2016年12月5日</dt>
          <dd>摩拜单车荣获 2016ECI 数字商业创新节以及中国商业创新年度盛典「中国年度商业创新机构-生活服务行业」奖项、中国年度商业创新新锐人物</dd>
          <dt>2016年12月7日</dt>
          <dd>摩拜单车荣获 2016 年上海最具投资潜力50佳创业企业</dd>
          <dt>2016年12月16日</dt>
          <dd>摩拜单车荣获 2016 第一财经「中国企业社会责任榜」的责任创新奖</dd>
          <dt>2016年12月17日</dt>
          <dd>摩拜单车荣获新周刊主办的「凯迪拉克 2016 中国年度新锐榜」年度品牌大奖</dd>
          <dt>2016年12月19日</dt>
          <dd>摩拜单车获得中国青年报社主办的 2017 青年态度·年度车盛典暨首届国际创新创业博览会汽车分论坛 2016 年度出行大奖</dd>
          <dt>2016年12月19日</dt>
          <dd>摩拜单车获得南方周末 「2016 年度新锐品牌」称号</dd>
          <dt>2016年12月19日</dt>
          <dd>由 ASO100 大数据研究中心、清华大数据产业联合会、清科集团、创新工场、中欧校友（北京）创业协会联合主办的 NextWorld 年度风采榜暨移动应用年度评选活动中，摩拜单车获得 NextWorld 风采榜年度「共享出行」TOP5</dd>
          <dt>2016年12月30日</dt>
          <dd>摩拜单车创始人兼总裁胡玮炜获得由快公司颁发的「2016 中国商业最具创意人物 100 强」</dd>
          <dt>2016年12月30日</dt>
          <dd>摩拜单车获得由快公司颁发的「2016 中国最佳创新公司」大奖</dd>
          <dt>2017年1月6日</dt>
          <dd>摩拜单车荣获新闻晨报「2016 年上海十大影响力事件」之一</dd>
          <dt>2017年1月11日</dt>
          <dd>由南方日报 3C 周刊、南方网、南方+数码频道联手打造的「2016 年南方 3C 风云榜」评选活动中，摩拜单车获得年度新锐企业奖</dd>
          <dt>2017年1月12日</dt>
          <dd>摩拜单车荣获新周刊颁发的 2016 年度优化生活特别贡献奖及商业创新奖</dd>
          <dt>2017年1月18日</dt>
          <dd>山寨发布会（国内最大的 TMT 媒体和 PR 社群）摩拜单车获颁「年度公司奖」</dd>
          <dt>2017年3月6日</dt>
          <dd>摩拜单车荣获新快报颁发的新快报 19 周年生活方式时尚大奖</dd>
          <dt>2017年3月17日</dt>
          <dd>ChinaBang Awards 2017 在常州市武进高新技术产业开发区举办，摩拜单车创始人胡玮炜获得年度创始人奖</dd>
          <dt>2017年3月17日</dt>
          <dd>ChinaBang Awards 将「年度创业公司」奖颁给了摩拜单车</dd>
          <dt>2017年4月13日</dt>
          <dd>荣获人民日报中央厨房主办的2016年度中国“互联网＋”十大优秀案例</dd>
          <dt>2017年4月28日</dt>
          <dd>2017年全球移动互联网大会上,摩拜获得“年度最具价值创新产品”奖项</dd>
          <dt>2017年4月</dt>
          <dd>摩拜单车被证券时报社评为中国创业企业新苗榜100强</dd>
          <dt>2017年5月26日</dt>
          <dd>数博会上，摩拜单车被授予“最具影响力”奖,胡玮炜被授予“新锐人物奖”</dd>
          <dt>2017年6月7日</dt>
          <dd>摩拜单车获评WWF“可持续城市交通特别奖”</dd>
          <dt>2017年6月30日</dt>
          <dd>摩拜单车获得了21届中国国际软件博览会“金提名奖</dd>
          <dt>2017年9月</dt>
          <dd>摩拜单车登上《财富》杂志“2017年50家改变世界的公司”榜单</dd>
          <dt>2017年9月10日</dt>
          <dd>摩拜单车获得“2017世界物联网博览会“新产品新技术奖”</dd>
          <dt>2017年9月21日</dt>
          <dd>第二代摩拜单车获2017北京国际设计周“经典设计奖提名奖”</dd>
          <dt>2017年10月</dt>
          <dd>摩拜单车获得第十届金投赏创意奖产品组全场大奖</dd>
          <dt>2017年10月</dt>
          <dd>全球顶尖品牌咨询公司Prophet铂慧发布2017中国品牌相关性指数及品牌50强榜单。摩拜单车成为唯一一家跻身2017品牌50强排行榜的互联网出行企业，首次上榜即高居第14位。</dd>
        </dl>
      </div>
    </section>
  </div>
</div>