<div id="promotion" class="clearfix">
  @@for (let i = 0, len = items.length; i < len; i++) {
    <a href="`+items[i].url+`" style="background-image:url(`+items[i].img+`)">
      <div class="promotion__text">
        <h3>`+items[i].title+`</h3>
      </div>
    </a>
  }
  <!-- <a href="">
    <div class="promotion__text">
      <h3>摩拜科技</h3>
    </div>
  </a>
  <a href="">
    <div class="promotion__text">
      <h3>摩拜科技</h3>
    </div>
  </a>
  <a href="">
    <div class="promotion__text">
      <h3>摩拜科技</h3>
    </div>
  </a>
  <a href="">
    <div class="promotion__text">
      <h3>摩拜科技</h3>
    </div>
  </a> -->
</div>